<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyq.mapper.person1Mapper">
	<select id="selectPerson1ByNumberWithConverter"
		resultMap="resultPerson1" parameterType="int">
		select * from person1 where number= #{number}
	</select>
	
	<update id="updatePerson1ByNumberWithConverter" parameterType="Person1">
	update person1 set `name`=#{name},age=#{age},sex=#{sex,javaType=boolean,jdbcType=INTEGER} where number=#{number};
	</update>
	
	<resultMap type="Person1" id="resultPerson1" >
	   <!-- 分为主键和非主键 -->
	   <id property="number" column="number"/>
	   <result property="name" column="name"/>
	   <result property="age" column="age"/>
	   <result property="sex" column="sex" javaType="boolean" jdbcType="INTEGER"/>
	</resultMap>
	
	<insert id="addPerson1WithConverter" parameterType="Person1">
	  insert into person1(number,`name`,age,sex)values(#{number},#{name},#{age},#{sex,javaType=boolean,jdbcType=INTEGER})
	</insert>
	
	<delete id="deletePerson1ByNumber" parameterType="int">
	delete  from person1 where number=#{number}
	</delete>
	
	<select id="selectAllPerson1WithConverter" resultMap="resultPerson1" >
		select * from person1 
	</select>
	<!--根据名字或年龄查询-->  
	<select id="queryPerson1NameOrAgeWithHashMap" parameterType="HashMap" resultMap="resultPerson1">
	select number,`name`,age,sex from person1
	where `name` like '%${name}%' or age=#{age}
	
	
	</select>
	
	
	
	
	
	
</mapper>